doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Discord Ynov Lyon - Confirmation
        link(rel='stylesheet' href='/css/style.css')
        title Addresse vérifiée !
body
    div.small-container
        div.image-header
            img(src='/images/logo.png')
        div
            p Bienvenue #{name} !
            p Votre addresse académique à été vérifiée. Rendez vous sur le serveur !

            p L'équipe Discord Ynov Lyon